body {
  background-color: #034bab;
  color: white;
}
h1 {
  text-align: center;
  border: #fe7114 solid 5px;
  margin: 30px;
  background-color: #8cb5de;
  padding: 10px;
  color: #333;
}
a {
  color: salmon;
}
