body {
    margin: 0;
}
h1 {
  text-align: center;
  border: #fe7114 solid 5px;
  
  background-color: #8cb5de;
  padding: 20px;
  color: #333;
}
a {
  color: salmon;
}
img {
  max-width: 50%;
 /* max-height: 50%;*/
}
.box {
  background-color: #8cb5de;
  padding: 20px;
  color: #333;
  display: flex;
}
.blade {
  margin: 0 5px;
}